#gridWrapper
  %h1.page-title Work

  %h3 Introduction to Computer Science I & II
  %h6
  %ul
    %li #{link_to 'Assignment #1', 'cs30assign1'}
    %li #{link_to 'Assignment #2', 'cs30assign2'}
    %li #{link_to 'Assignment #3', 'cs30assign5'}
  %h3 Chemistry
  %h5
  %ul
    %li #{link_to 'Report: Synthesis of Diethyl tert-Butylmalonate', 'ochmSynPaper'}
    %li #{link_to 'Presentation: Synthesis of Diethyl tert-Butylmalonate', 'ochmSynPresentation'}
  %h3 Physics
  %h5
  %ul
    %li #{link_to 'Senior Seminar Paper: Carbon Nanotubes', 'phySemPaper'}