!!!
%html

#gridWrapper
  %head
    = stylesheet_link_tag 'compiled/global.css'

  %body
    = flash[:notice]
    = flash[:error]
    = link_to "<span>&laquo Home &raquo;</span>", "home", :class => 'small red button'
    = link_to "<span>&laquo Resume &raquo;</span>", "resume", :class => 'small red button'
    = link_to "<span>&laquo Work &raquo;</span>", "work", :class => 'small red button'
    = link_to "<span>&laquo Contact &raquo;</span>", "contact", :class => 'small red button'
    = link_to "<span>&laquo Blog &raquo;</span>", "posts", :class => 'small red button'
    = link_to "<span> Example</span>", "example", :class => 'small green button'
    = yield

